* {
    padding: 0px;
    margin: 0px;
}

body {
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: Quicksand;
    overflow: auto;
    height: 100%;
}

.navbar {
    height: 75px;
}

#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
  
#custom-nav a {
    background: transparent;
    color: white;
    font-size: 20px;
}

#custom-nav .navbar-brand {
    font-family: 'Yellowtail', cursive;
    color: #FFFFFF;
    font-size: 50px;
}

#custom-nav.affix {
    background-color: #f8f8f8;
    opacity: 0.8;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
  
#custom-nav.affix a {
    color: #1A5A97;
}

.navbar-default {
    background-image: none;
}

.navbar-brand,
.navbar-collapse li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.home .jumbotron {
	background: url("rsz_coast.jpg") no-repeat center center fixed;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.jumbotron {
    text-shadow: black 0.1em 0.1em 0.1em;
}

.jumbotron .container {
    position: relative;
    top: 250px;
}

.jumbotron h1 {
	color: #FFFFFF;
}

.arrow {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrow path {
    stroke: #FFFFFF;
    fill: transparent;
    stroke-width: 3px;  
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {opacity:0}
    50% {opacity: 1}
}

@-webkit-keyframes pulse {
    0%, 100% {opacity:0}
    50% {opacity: 1}
}


footer {
	position: relative;
}
