@font-face {
	font-family: comfortaa;
	src: url("./Comfortaa-Regular.ttf");
}
@font-face {
	font-family: comfortaa;
	font-weight: bold;
	src: url("./Comfortaa-Bold.ttf");
}
@font-face {
	font-family: comfortaa;
	src: url("./Comfortaa-Regular.ttf");
}