{% extends "templates/base.html" %}
{% block content %} 
	<div class="pictures">
        <div id="div1" class="divider">
            <h1>Pictures</h1>
            </br>
            </br>
            <h3>All of these pictures are taken either of me or by me on my recent trip to Breckenridge, CO.</h3>
            </br>
            </br>
            <i class="fa fa-camera"></i>
        </div>
        <div style="width: 100%; height: 3px; background-color: #1A5A97;"></div>
        <div class="divider">
            <h1>Me on top of Peak 6.</h1>
        </div>
        <div class="pic" id="pic1"></div>
        <div class="divider-mobile">
            <img src="static/rsz_top_of_breck.jpg" alt="Top of Breckenridge"/>
        </div>

        <div class="divider">
            <h1>Sam repping his favorite snowboard brand.</h1>
        </div>
        <div class="pic" id="pic2"></div>
        <div class="divider-mobile">
            <img src="static/rsz_sam_breck.jpg" alt="Sam at Breckenridge"/>
        </div>

        <div class="divider">
            <h1>Matt showing his Detroit Red Wings pride.</h1>
        </div>
        <div class="pic" id="pic3"></div>
        <div class="divider-mobile">
            <img src="static/rsz_matt_breck.jpg" alt="Matt at Breckenridge"/>
        </div>

        <div class="divider">
            <h1>Scott almost smiling.</h1>
        </div>
        <div class="pic" id="pic4"></div>
        <div class="divider-mobile">
            <img src="static/rsz_scott_breck.jpg" alt="Scott at Breckenridge"/>
        </div>

        <div class="divider">
            <h1>Swelly not skiing right.</h1>
        </div>
        <div class="pic" id="pic5"></div>
        <div class="divider-mobile">
            <img src="static/rsz_swelly_breck.jpg" alt="Swelly at Breckenridge"/>
        </div>

        <div class="divider">
            <h1>A panorama of the mountain.</h1>
        </div>
        <div class="divider">
            <img id="pic6" src="static/rsz_pano_breck.jpg" alt="Breckenridge Panorama"/>
        </div>

        <div class="divider">
            <h1>The village at night.</h1>
        </div>
        <div class="pic" id="pic7"></div>
        <div class="divider-mobile">
            <img src="static/rsz_breck_village.jpg" alt="Breckenridge Village"/>
        </div>

        <div class="divider">
            <h1>Nearing the top.</h1>
        </div>
        <div class="pic" id="pic8"></div>
        <div class="divider-mobile">
            <img src="static/rsz_bsb.jpg" alt="Top of Blue Sky Basin"/>
        </div>

        <div class="divider">
            <h1>At the top of Vail.</h1>
        </div>
        <div class="pic" id="pic9"></div>
        <div class="divider-mobile">
            <img src="static/rsz_selfie.jpg" alt="Top of Vail"/>
        </div>
    </div>
{%endblock%}