{% extends "templates/base.html" %}
{% block content %} 
	<div class="pictures">
        <div class="divider">
            <h1>Pictures</h1>
            <h3>All of these pictures are taken either of me or by me on my recent trip to Breckenridge, CO.</h3>
            <i class="fa fa-camera"></i>
        </div>
        <div style="width: 100%; height: 3px; background-color: #1A5A97;"></div>
        <div class="divider">
            <h1>Me on top of Peak 6.</h1>
        </div>
        <div class="pic" id="pic1"></div>

        <div class="divider">
            <h1>Sam repping his favorite snowboard brand.</h1>
        </div>
        <div class="pic" id="pic2"></div>

        <div class="divider">
            <h1>Matt showing his Detroit Red Wings pride.</h1>
        </div>
        <div class="pic" id="pic3"></div>

        <div class="divider">
            <h1>Scott almost smiling.</h1>
        </div>
        <div class="pic" id="pic4"></div>

        <div class="divider">
            <h1>Swelly not skiing right.</h1>
        </div>
        <div class="pic" id="pic5"></div>

        <div class="divider">
            <h1>A panorama of the mountain.</h1>
        </div>
        <div class="divider">
            <img id="pic6" src="static/rsz_pano_breck.jpg"/>
        </div>

        <div class="divider">
            <h1>The village at night.</h1>
        </div>
        <div class="pic" id="pic7"></div>

        <div class="divider">
            <h1>Nearing the top.</h1>
        </div>
        <div class="pic" id="pic8"></div>

        <div class="divider">
            <h1>At the top of Vail.</h1>
        </div>
        <div class="pic" id="pic9"></div>
    </div>

    <style type="text/css">
        #custom-nav.affix {
            background-color: rgba(0,0,0,0);
        }
        #custom-nav.affix a {
            background: transparent;
            color: #FFFFFF;
        }
        #custom-nav.affix .active {
            background-color: rgba(248, 248, 248, 0.8);
        }
        #custom-nav.affix li.active a  {
            color: #1A5A97;
        }
        #custom-nav.affix .navbar-brand {
            color: #FFFFFF;
        }
    </style>
{%endblock%}